{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/1/vote/" method="post">
{% csrf_token %}

enter email:  
<input id="email" type="text" name="email" value="asaelcorem@gmail.com">
<br><br>
enter password:  
<input id="password" type="password" name="password" value="asaf0587">
<br><br>
<input type="submit" value="add new user" />
</form>
<br><br>

<a target="_blank" 
	id="scan_posts"
    class="btn btn-info pull-right" 
    href="{% url 'polls:start_scan'}">
    scan for post
</a>
<br><br>
<a target="_blank" 
	id="deleteAll"
    class="btn btn-info pull-right" 
    href="/polls/1/clean_data_bases/">
</a>

<br><br>
<input name="myBtn" type="button" onClick="deleteImage('images/pic.jpg')" value="Delete all data base">

<script type="text/javascript">
function deleteImage(x){
    var conf = confirm("Are you sure you want to delete this image?");
    if(conf == true){
		document.getElementById("deleteAll").click();    }
}
</script>